
<br>
<input
  placeholder="enter User Id"
  [(ngModel)]="currId.id"
  (keyup)="$event.keyCode == 13 && registerUser()"

  [disabled]="currId.enable"
/>
<br><br>
<input placeholder="enter receiver Id" [(ngModel)]="this.newMessage.toId"/>
<br><br>
<div *ngIf="currId.enable">
  <div *ngFor="let message of messageList">
    <li>
        {{message}}
    </li>
  </div>
  
  <input
    [(ngModel)]="newMessage.message"
    (keyup)="$event.keyCode == 13 && sendMessage()"
  />
  <button (click)="sendMessage()">Send Message</button>
</div>
